    h1 {
        margin: 10px 20px 10px 20px;
    }
    
    h2 {
        margin: 10px 20px 10px 20px;
    }
    
    h3 {
        margin: 10px 20px 10px 20px;
        content: 'áéíóú';
    }
    /* prueb */